name: containers
on:
  workflow_call:
  workflow_dispatch:
  push:
    paths:
      - 'desktops/**'

run-name: "containers: zirconium latest-arm64 ${{ github.event_name == 'push' && format(' | {0}', github.event.head_commit.message) || '' }}"

jobs:
  desktops:
    runs-on: ubuntu-24.04-arm
    permissions:
      packages: write
    strategy:
      fail-fast: false
      matrix:
        device:
          - name: oneplus-sdm845
          - name: xiaomi-beryllium
          - name: xiaomi-nabu
          - name: xiaomi-nabu
            tag: latest-samsung
            xiaomi_nabu_samsung_ufs: true
          - name: xiaomi-pipa
    env:
      PB_BASE: ghcr.io/zirconium-dev/zirconium
      PB_BASE_BOOTC: quay.io/fedora/fedora-bootc:43
      PB_BRANCH: latest-arm64
      PB_TAG: ${{ matrix.device.tag || 'latest' }}
      PB_DEVICE: ${{ matrix.device.name }}
      PB_DESKTOP: zirconium
      PB_REGISTRY: ${{ vars.REGISTRY || format('ghcr.io/{0}', github.repository_owner) }}
      PB_RECHUNK_SUFFIX: "-build"

      ARG_XIAOMI_NABU_SAMSUNG_UFS: ${{ matrix.device.xiaomi_nabu_samsung_ufs || 'false' }}

    steps:
      - name: Checkout pocketblue repo
        uses: actions/checkout@v6
        with:
          repository: pocketblue/pocketblue

      - name: Checkout this repo
        uses: actions/checkout@v6
        with:
          path: extra

      - name: Merge desktops
        run: cp -arT extra/desktops desktops

      - name: Setup just
        uses: extractions/setup-just@v3

      - name: Build
        id: build
        run: just build --build-arg=xiaomi_nabu_samsung_ufs=${ARG_XIAOMI_NABU_SAMSUNG_UFS}

      - name: Rechunk
        id: rechunk
        run: just rechunk

      - name: Push
        id: push
        uses: pocketblue/actions/container-push@main
        env:
          username: ${{ vars.REGISTRY_USERNAME != '' && vars.REGISTRY_USERNAME || github.repository_owner }}
          password: ${{ secrets.REGISTRY_TOKEN != '' && secrets.REGISTRY_TOKEN || secrets.GITHUB_TOKEN }}
          registry: ${{ env.PB_REGISTRY }}
          name: ${{ matrix.device.name }}-zirconium
          tag: ${{ env.PB_TAG }}
